[Desktop Entry]
Version=1.0
Name=Browse With
GenericName=BrowseWith
Comment=Choose web browser before opening links

MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;

TryExec=browsewith
Exec=_SYSTEM_PATH_/browsewith %u
Terminal=false

Icon=_CONFIG_PATH_/browsewith.ico

Type=Application
Categories=Network;
Keywords=web;browser;internet;
